.homeContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  justify-content: space-between;
  position: relative;
}

.heading {
  font-size: 4em;
  color: #BA795B;
  border-bottom: 2px solid saddlebrown;
  margin-top: 2vh;
  padding: 2vh;
  width: 80vw;
  height: 10vh;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
}

.subHeadline {
  margin: 0 auto;
}