.NavBar {
  margin-top: 5vh;
  list-style: none;
  display: flex;
  color: black;
  justify-content: space-around;
  padding: 1vh;
  align-items: center;
}
.NavBar li:hover {
  color: #4DCDBC;
}
.NavBar li .images {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}